:root {
    --color-background: #121212;
    --color-primary: #ffcc22;
    --color-secondary: #ff22ed;
    --color-text: color-mix(in srgb, var(--color-primary), white 80%);
    --color-text-faded: color-mix(in srgb, var(--color-text), var(--color-background) 40%);

    --page-width: 48rem;
}



body {
    background-color: var(--color-background);
    margin: 0;
    font-size: 16pt;
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
    color: var(--color-text);
    height: calc(100vh - 4rem);
}

header, footer, main {
    width: var(--page-width);
    margin: auto;
}

main {
    padding: 2rem;
    height: 100%;
    background-color: color-mix(in srgb, var(--color-background), white 5%);
    display: flex;
    flex-direction: column;
    height: 100%;
}

article {
    flex: 1 0 auto;
}

a {
    color: var(--color-secondary);
    font-weight: 200;
}

h1, h2, h3 {
    color: var(--color-primary);
    font-family: Georgia, serif;
    font-style: italic;
}

article ul {
    padding: 2rem 2.8rem;
    background-color: var(--color-background);
    border-radius: 8px;
    margin: 0;
}
article ul li {
    list-style: none;
}article ul li {
    content: '- ';
}

footer {
    text-align: center;
    font-size: 12pt;
}

hr {
    height: 2px;
    border: none;
    background-color: var(--color-text-faded);
}