:root {
    --color-background: #121212;
    --color-primary: #ffcc22;
    --color-secondary: #ff22ed;

    --color-text: color-mix(in srgb, var(--color-primary), white 80%);
    --color-text-faded: color-mix(in srgb, var(--color-text), var(--color-background) 60%);
    
    --page-width: 48rem;
    
}
@media (prefers-color-scheme: light) {
    :root {
        --color-background: #fff8f1;
        --color-primary: #4f0939;
        --color-secondary: #045c60;
    
        --color-text: color-mix(in srgb, var(--color-primary), var(--color-secondary) 80%);
        /* --color-text-faded: color-mix(in srgb, var(--color-text), var(--color-background) 60%); */
    }
    body {
        font-weight: 300 !important;
    }
    main {
        background-color: color-mix(in srgb, var(--color-background), var(--color-text) 6%) !important;
    }
    a {
        font-weight: 500 !important;
    }
}

body {
    background-color: var(--color-background);
    margin: 0;
    font-size: 16pt;
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
    color: var(--color-text);
    height: calc(100vh - 4rem);
}

header, footer, main {
    width: var(--page-width);
    margin: auto;
}

main {
    padding: 2rem;
    height: 100%;
    background-color: color-mix(in srgb, var(--color-background), white 5%);
    display: flex;
    flex-direction: column;
}

article {
    flex: 1 0 auto;
}

a {
    color: var(--color-secondary);
    font-weight: 400;
}

h1, h2, h3 {
    color: var(--color-primary);
    font-family: Georgia, serif;
    font-style: italic;
}

article ul {
    padding: 2rem 2.8rem;
    background-color: var(--color-background);
    border-radius: 8px;
    margin: 0;
}
article ul li {
    list-style: none;
}article ul li {
    content: '- ';
}

footer {
    text-align: center;
    font-size: 12pt;
}

hr {
    height: 2px;
    border: none;
    background-color: var(--color-text-faded);
}