body {
    background-color: #121212;
    margin: 0;
    font-size: 16pt;
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
    color: color-mix(in srgb, #ffcc22, white 80%);
    height: calc(100vh - 4rem);
}

header, footer, main {
    width: 48rem;
    margin: auto;
}

main {
    padding: 2rem;
    height: 100%;
    background-color: color-mix(in srgb, #121212, white 5%);
    display: flex;
    flex-direction: column;
    height: 100%;
}

article {
    flex: 1 0 auto;
}

a {
    color: #ff22ed;
    font-weight: 200;
}

h1, h2, h3 {
    color: #ffcc22;
    font-family: Georgia, serif;
    font-style: italic;
}

footer {
    text-align: center;
    font-size: 12pt;
}